{erl_opts, [debug_info]}.

{lib_dirs, []}.
{base_dir, "_build"}.
{root_dir, "."}.
{project_app_dirs, ["."]}.

{plugins, [
	rebar3_hex,
	{rebar3_codecov, "0.1.0"}
]}.

{provider_hooks,
	[
		{post, [{ct, {codecov, analyze}}]},
		{post, [{eunit, {codecov, analyze}}]}
	]}.

{cover_enabled, true}.
{cover_export_enabled,true}.

{deps, [
    {erlzk, ".*", {git, "https://github.com/huaban/erlzk.git", {tag, "v0.6.2"}}},
	{ranch, ".*",  {git, "https://github.com/ninenines/ranch.git", {tag, "1.4.0"}}},
    {poolboy, ".*",  {git, "https://github.com/devinus/poolboy.git", {tag, "1.5.1"}}},
    {jiffy, "0.15.1"},
	{hooks,{git,"https://github.com/benoitc/hooks.git",{tag,"2.1.0"}}}
]}.


{profiles,[
	{test,
		[
			{extra_src_dirs, ["test"]}
		]
	}
]}.