{erl_opts, [debug_info,
    {parse_transform, lager_transform}
    ]}.

{lib_dirs, []}.
{base_dir, "_build"}.
{root_dir, "."}.
{project_app_dirs, ["."]}.
{extra_src_dirs, ["test"]}.
{ct_opts, []}.


{deps, [
    {erlzk, ".*", {git, "git@github.com:huaban/erlzk.git", {tag, "v0.6.2"}}},
    {lager, ".*", {git, "git@github.com:basho/lager.git", {tag, "3.2.4"}}},
    {ranch, ".*",  {git, "https://github.com/ninenines/ranch.git", {tag, "1.4.0"}}},
    {poolboy, ".*",  {git, "https://github.com/devinus/poolboy.git", {tag, "1.5.1"}}},
    {jiffy, "0.15.1"}
]}.