[
    {kernel,
        [
            {logger,
                [
                    {handler, file, logger_std_h,
                        #{
                            config => #{
                                type=> file,
                                file => "./log/common.log"
                            },
                            level => all
                        }
                    }
                ]
            }
        ]
    },
    {dubboerl,[
        {registry,zookeeper},
        {zookeeper_list,[{"127.0.0.1",2181}]},
        {application,<<"testdubboerl">>},
        {registry,true},
        {protocol,hessian},
        {port,20881},
        {consumer,[
           % {<<"org.apache.dubbo.erlang.sample.service.facade.UserOperator">>,[]}
        ]},
        {provider,[
            {dubbo_service_user_impl,userOperator,<<"org.apache.dubbo.erlang.sample.service.facade.UserOperator">>,[]}
        ]}
        
    ]}
].
