[
 	%% SASL config    {file, "log/sasl-error.log"}
 	{sasl, [
         {sasl_error_logger, false},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl-error.log"},      % Log directory
         {error_logger_mf_maxbytes, 104857600},   % 100 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
    {emysql,[
      {lock_timeout,900000},
      {default_timeout, 900000}

      ]},
    {lager, [
        {log_root, "./logs"},
        {handlers, [
            {lager_console_backend, debug},
            {lager_file_backend, [{file, "error.log"}, {level, error}]},
            {lager_file_backend, [{file, "console.log"}, {level, info}]}
        ]}
    ]},
    {dubboerl,[
        {zookeeper_list,[{"127.0.0.1",2181}]},
        {application,<<"testdubboerl">>},
        {consumer,[
            {<<"com.ifcoder.demo.facade.User">>,[]}
        ]},
        {provider,[
            {user_impl,user_behaviour,<<"com.ifcoder.demo.facade.User">>,[]}
        ]}
        
    ]}
].
